<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/style/menu.css">
    <link rel="stylesheet" href="../static/style/general.css">
    <link rel="stylesheet" href="../static/style/dashboard.css">
    <script src="../static/scripts/menu.js"></script>
    <script src="../static/scripts/dashboard.js"></script>
    <script src="../static/scripts/bot.js"></script>
</head>

<body>

    <div class="navbar" id="navbar">
        <!-- Navigation items will be added dynamically here -->
    </div> 

    <div class="container-header"> 
        <div class="name"><p>Welcome, {{ username }}!</p></div>
        <div class="clock"><p id="clock"></p></div>
    </div>

    <div class="container-information">
        <div class="container-patient">
            <p>Patients</p>
            <div class="loading-image" style="display: none;">
                <div class="loader"></div>
            </div>                     
            <div id="container-patient"></div>
        </div>
        <div class="container-observation">
            <p>Observations</p>
            <div class="loading-image" style="display: none;">
                <div class="loader"></div>
            </div> 
            <div id="container-observation"></div>
        </div>
    </div>

    <div class="chat-button"><i class="fa-solid fa-comments"></i></div>

    <div class="chat-container">
        <div class="chat-header">
            <h1 style="font-weight: 700;">Virtual Assistant</h1>
        </div>
        <div class="chat-body" id="chat-body">
            <div class="bot-message">
                <div class="message">Hi, I'm your virtual assistant!</div>
            </div>
        </div>
    
        <div class="input-container">
            <input class="input-field" type="text" placeholder="Type your message here">
            <button class="input-button">Send</button>
            <button class="close-button">Close</button>
        </div>
    </div>

</body>

</html>